.pop-over.open {
	visibility: visible;
	opacity: 1;

	& .pop-over-content .progress-content .bar {
		.progress-indicator:after {
			transition: transform .7s ease-in;
			transition-delay: .5s;
		}
		.number-indicator {
			opacity: 1;
			transition: opacity .4s ease-in;
		}
	}
}

.pop-over {
	visibility: hidden;
	opacity: 0;
	transition: opacity .2s ease-in;
	background-color: $light-gray;
	border: 1px solid $black;
	border-radius: 5px;
	& .pop-over-title{
		background-color: $black;
		color: $white;
		text-indent: 5px;
		margin: 0;
		line-height: 2.5rem;
		border-radius: 0 0 5px 5px;
	}
	& .pop-over-content{
		background-color: $white;
		border: 1px solid $black;
		border-radius: 5px;
		color: $gray-text;
		
		.progress-content {
			.reached {
				
			}
			.bar {
				position: relative;
				margin: 0 3px;
				.progress-indicator {
					position: relative;
					background-color: $light-gray;
					width: 100%;
					height: 12px;
					border-radius: 5px;
					overflow: hidden;
					@include box-shadow(0, 1px, 5px, $black, true);
					&:after {
						content: " ";
						display: block;
						background-color: $green;
						position: absolute;
						left: -100%;
						top: 0;
						width: 100%;
						height: 100%;
						border-radius: 5px;
						transform: translateX(var(--progress));
					}
				}

				.number-indicator {
					position: absolute;
					opacity: 0;
					left: var(--progress);
					top: 13px;
					text-align: center;
					transform: translateX(-55%);
					color: $black;
					width: 30px;
					height: 35px;
					display: inline-block;
					line-height: 1.2rem;
				}
			}
			.target {
				background-color: $dark-gray;
				color: $white;
				width: 60px;
				height: 50px;
				text-align: center;
				line-height: 1.5rem;
				margin-top: -15px;
				padding-top: 9px;
				box-sizing: border-box;
				border: 1px solid $black;
			}
		}

		.info {
			text-align: center;

			&:before {
				content: '\01D4F2 ';
				height: 20px;
				width: 20px;
				line-height: 2rem;
				text-align: center;
				display: inline-block;
				background-color: darken($info-icon, 5%);
				border-radius: 50%;
				margin-right: 5px;
				color: $white;
				@include box-shadow(-1px, -1px, 4px, $info-icon, true);
			}
		}
	}
}