.pop-over {
  --progres: 0%; }

html {
  font-size: 62.5%; }

body {
  font-family: verdana, arial, sans-serif;
  font-size: 1.4rem;
  color: #000000; }

.wrapper {
  display: grid;
  height: 100vh;
  grid-template-columns: minmax(420px, 1fr);
  grid-template-rows: minmax(190px, 1fr) 1fr;
  justify-items: center; }
  .wrapper .content {
    grid-row: 2; }
  .wrapper .pop-over {
    display: grid;
    grid-row: 1;
    justify-self: center;
    align-self: end;
    max-height: 190px;
    max-width: 420px;
    height: 100%;
    width: 100%;
    grid-template-rows: 25px 1fr;
    margin-bottom: 5px; }
    .wrapper .pop-over-content {
      margin: 15px 25px;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      justify-content: center;
      padding-top: 15px; }
      .wrapper .pop-over-content .progress-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-self: center; }
        .wrapper .pop-over-content .progress-content .bar {
          width: 220px;
          margin-top: 4px; }

.progress-link {
  background-color: #ebebeb;
  border: 1px solid #000000;
  display: inline-block;
  padding: 10px 15px;
  color: #000000;
  font-size: 1.8rem;
  text-decoration: none;
  border-radius: 5px; }
  .progress-link:hover {
    background-color: #929292; }

.pop-over.open {
  visibility: visible;
  opacity: 1; }
  .pop-over.open .pop-over-content .progress-content .bar .progress-indicator:after {
    transition: transform .7s ease-in;
    transition-delay: .5s; }
  .pop-over.open .pop-over-content .progress-content .bar .number-indicator {
    opacity: 1;
    transition: opacity .4s ease-in; }

.pop-over {
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s ease-in;
  background-color: #ebebeb;
  border: 1px solid #000000;
  border-radius: 5px; }
  .pop-over .pop-over-title {
    background-color: #000000;
    color: #ffffff;
    text-indent: 5px;
    margin: 0;
    line-height: 2.5rem;
    border-radius: 0 0 5px 5px; }
  .pop-over .pop-over-content {
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 5px;
    color: #707070; }
    .pop-over .pop-over-content .progress-content .bar {
      position: relative;
      margin: 0 3px; }
      .pop-over .pop-over-content .progress-content .bar .progress-indicator {
        position: relative;
        background-color: #ebebeb;
        width: 100%;
        height: 12px;
        border-radius: 5px;
        overflow: hidden;
        -webkit-box-shadow: inset 0 1px 5px #000000;
        -moz-box-shadow: inset 0 1px 5px #000000;
        box-shadow: inset 0 1px 5px #000000; }
        .pop-over .pop-over-content .progress-content .bar .progress-indicator:after {
          content: " ";
          display: block;
          background-color: #5fb254;
          position: absolute;
          left: -100%;
          top: 0;
          width: 100%;
          height: 100%;
          border-radius: 5px;
          transform: translateX(var(--progress)); }
      .pop-over .pop-over-content .progress-content .bar .number-indicator {
        position: absolute;
        opacity: 0;
        left: var(--progress);
        top: 13px;
        text-align: center;
        transform: translateX(-55%);
        color: #000000;
        width: 30px;
        height: 35px;
        display: inline-block;
        line-height: 1.2rem; }
    .pop-over .pop-over-content .progress-content .target {
      background-color: #929292;
      color: #ffffff;
      width: 60px;
      height: 50px;
      text-align: center;
      line-height: 1.5rem;
      margin-top: -15px;
      padding-top: 9px;
      box-sizing: border-box;
      border: 1px solid #000000; }
    .pop-over .pop-over-content .info {
      text-align: center; }
      .pop-over .pop-over-content .info:before {
        content: '\01D4F2 ';
        height: 20px;
        width: 20px;
        line-height: 2rem;
        text-align: center;
        display: inline-block;
        background-color: #4d7791;
        border-radius: 50%;
        margin-right: 5px;
        color: #ffffff;
        -webkit-box-shadow: inset -1px -1px 4px #5685a2;
        -moz-box-shadow: inset -1px -1px 4px #5685a2;
        box-shadow: inset -1px -1px 4px #5685a2; }
